<div class="container" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="title-container">
        <h1 class="title" style="text-align: center;">Lista de Paises</h1>
    </div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="idPais">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.idPais}}</td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombrePais }}</td>
        </ng-container>

        <ng-container matColumnDef="codigoIso">
            <th mat-header-cell *matHeaderCellDef>codigoIso</th>
            <td mat-cell *matCellDef="let element">{{ element.codigoIsoPais }}</td>
        </ng-container>

        <ng-container matColumnDef="continente">
            <th mat-header-cell *matHeaderCellDef>continente</th>
            <td mat-cell *matCellDef="let element">{{ element.continentePais }}</td>
        </ng-container>

        <ng-container matColumnDef="capital">
            <th mat-header-cell *matHeaderCellDef>capital</th>
            <td mat-cell *matCellDef="let element">{{ element.capitalPais }}</td>
        </ng-container>

        <ng-container matColumnDef="moneda">
            <th mat-header-cell *matHeaderCellDef>moneda</th>
            <td mat-cell *matCellDef="let element">{{ element.monedaPais }}</td>
        </ng-container>

        <ng-container matColumnDef="idiomaOficial">
            <th mat-header-cell *matHeaderCellDef>idiomaOficial</th>
            <td mat-cell *matCellDef="let element">{{ element.idiomaOficialPais }}</td>
        </ng-container>

        <ng-container matColumnDef="poblacion">
            <th mat-header-cell *matHeaderCellDef>poblacion</th>
            <td mat-cell *matCellDef="let element">{{ element.poblacionPais }}</td>
        </ng-container>

        <ng-container matColumnDef="superficie">
            <th mat-header-cell *matHeaderCellDef>superficie</th>
            <td mat-cell *matCellDef="let element">{{ element.superficiePais }}</td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element" (click)="delete(element.idPais)">
                <mat-icon style="color:#1100ff ;">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef>Actualizar</th>
            <td mat-cell *matCellDef="let element" [routerLink]="['editar',element.idPais]">
                <mat-icon style="color:#1100ff ;">edit</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [length]="datasource.data.length" [pageSize]="50" [pageSizeOptions]="[4, 20, 50]"
        aria-label="Seleccionar paginación">
    </mat-paginator>
</div>