<div class="title-container"><h1 class="title"style="text-align: center">Registro de Lugar Turistico</h1>
    <div class="container" style="text-align: center">
      <form [formGroup]="form" (submit)="insertar()" class="example-form">
    
        <mat-form-field class="example-full-width" >
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="hnombreLugarTuristico" />
          <mat-error *ngIf="form.get('hnombreLugarTuristico')?.hasError('required')"
            >El nombre es obligatorio.</mat-error
          >
        </mat-form-field>
    
        <br />

        <mat-form-field>
          <mat-label>Latitud</mat-label>
          <input matInput formControlName="hlatitudLugarTuristico" />
          <mat-error *ngIf="form.get('hlatitudLugarTuristico')?.hasError('required')"
            >La latitud es obligatorio.</mat-error
          >
        </mat-form-field>
  
      <br />

      <mat-form-field>
          <mat-label>Longitud</mat-label>
          <input matInput formControlName="hlongitudLugarTuristico" />
          <mat-error *ngIf="form.get('hlongitudLugarTuristico')?.hasError('required')"
            >La longitud es obligatorio.</mat-error
          >
        </mat-form-field>
  
      <br />
        <mat-form-field class="example-full-width" >
            <mat-label>Descripcion</mat-label>
            <input matInput formControlName="hdescripcionLugarTuristico" />
            <mat-error *ngIf="form.get('hdescripcionLugarTuristico')?.hasError('required')"
              >La Descripcion es obligatorio.</mat-error
            >
          </mat-form-field>
    
        <br />
        
        <mat-form-field>
            <mat-label>Numero</mat-label>
            <input matInput formControlName="hnumeroLugarTuristico" />
            <mat-error *ngIf="form.get('hnumeroLugarTuristico')?.hasError('required')"
              >El Numero es obligatorio.</mat-error
            >
          </mat-form-field>
          <br />
          <mat-form-field>
            <mat-label>Ciudad</mat-label>
            <mat-select formControlName="hCiudad">
              @for (ciu of listaciudad; track ciu) {
              <mat-option [value]="ciu.idCiudad">{{ ciu.nombreCiudad }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br />
  
        
        <div style="text-align: center;">
          <button mat-flat-button  color="warn">Registrar</button>
        </div>
        <div style="text-align: center;">
          <button class="secondaryButton"  routerLink="/ciudad"> Cancelar </button>
        </div>
      </form>
    </div>
  </div>