<div class="container">
    <!-- Introducción -->
    <div class="intro">
      <h1 class="app-title">Bienvenido a TurisMap</h1>
      <p class="app-description">
        TurisMap es una aplicación diseñada para ayudarte a explorar y descubrir los mejores lugares turísticos y puntos de interés en tus cercanías. ¡Embárcate en una nueva aventura hoy mismo!
      </p>
    </div>
  
    <!-- Imagen principal -->
    <img src="assets/logo_turismap.jpg" alt="Logo de TurisMap" class="image" />
  </div>
  