<div class="search-container">
    <mat-form-field appearance="fill" class="search-field">
      <mat-label>Buscar por ciudad</mat-label>
      <input matInput [(ngModel)]="nombreCiudad" placeholder="Ingrese el nombre de la ciudad">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchByCiudad()">Buscar</button>
  </div>
  
  <mat-table [dataSource]="datasource" matSort class="tabla-lugar-turistico">
    <ng-container matColumnDef="nombreCiudad">
      <mat-header-cell *matHeaderCellDef> Ciudad </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.nombreCiudad }}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="nombreLugar">
      <mat-header-cell *matHeaderCellDef> Lugar Turístico </mat-header-cell>
      <mat-cell *matCellDef="let row">{{ row.nombreLugar }}</mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  
  <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons class="paginator"></mat-paginator>
  