.mat-table {
    width: 100%;
  }
  
  .mat-elevation-z8 {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px 0;
  }
  
  .mat-paginator {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  