.custom-sidenav {
  width: 250px;
  background: #f0f0f0;
}

mat-expansion-panel {
  background: white;
  margin: 5px 0;
  border-radius: 8px;
  overflow: hidden;
}

mat-expansion-panel-header {
  align-items: center;
}

mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

mat-sidenav-container {
  height: 100vh;
  width: 100vw;
}

mat-sidenav {
  width: 250px;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.spacer {
  flex: 1 1 auto;
}

a.mat-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 16px;
  font-size: 16px;
  text-decoration: none;
}

a.mat-list-item mat-icon {
  margin-right: 8px;
  font-size: 20px;
}

.mat-expansion-panel-content {
  padding: 0;
}