<div class="container" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="title-container"><h1 class="title" style="text-align: center;">Lista Roles</h1></div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="idRol">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.idRol }}</td>
        </ng-container>
  
        <ng-container matColumnDef="nombreRol">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombreRol }}</td>
        </ng-container>
  
        <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Código Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.user.idUsuario }}</td>
        </ng-container>

        <ng-container matColumnDef="usern">
            <th mat-header-cell *matHeaderCellDef>Nombre Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.user.username }}</td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element" (click)="delete(element.idRol)">
              <mat-icon style="color:#1100ff ;">delete</mat-icon>
            </td> 
          </ng-container>
        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef>Actualizar</th>
            <td mat-cell *matCellDef="let element" [routerLink]="['editar',element.idRol]" >
                <mat-icon style="color:#1100ff ;">edit</mat-icon>
            </td> 
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>