<div class="container" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="title-container">
        <h1 class="title" style="text-align: center;">Lista de Lugares Turísticos</h1>
    </div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="idLugarTuristico">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.idLugarTuristico}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreLugarTuristico">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombreLugarTuristico}}</td>
        </ng-container>

        <ng-container matColumnDef="descripcionLugarTuristico">
            <th mat-header-cell *matHeaderCellDef>Descripción</th>
            <td mat-cell *matCellDef="let element">{{ element.descripcionLugarTuristico}}</td>
        </ng-container>

        <ng-container matColumnDef="numeroTelefonoLugar">
            <th mat-header-cell *matHeaderCellDef>Número</th>
            <td mat-cell *matCellDef="let element">{{ element.numeroTelefonoLugar}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreCiudad">
            <th mat-header-cell *matHeaderCellDef>Ciudad</th>
            <td mat-cell *matCellDef="let element">{{ element.idCiudad?.nombreCiudad || 'No especificado' }}</td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element" (click)="delete(element.idLugarTuristico)">
                <mat-icon style="color:#1100ff ;">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef>Actualizar</th>
            <td mat-cell *matCellDef="let element" [routerLink]="['editar',element.idLugarTuristico]">
                <mat-icon style="color:#1100ff ;">edit</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>