<div class="title-container">
  <h1 class="title" style="text-align: center">Registro de Pais</h1>
  <div class="container" style="text-align: center">
    <form [formGroup]="form" (submit)="insertar()" class="example-form">

      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Codigo</mat-label>
        <input matInput formControlName="hidPais" readonly />
      </mat-form-field>
      <br />

      <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="hnombrePais" required />
        <mat-error *ngIf="form.get('hnombrePais')?.hasError('required')">El nombre es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('hnombrePais')?.hasError('minlength')">
          El nombre debe tener al menos 3 caracteres.
        </mat-error>
        <mat-error *ngIf="form.get('hnombrePais')?.hasError('pattern')">
          El nombre solo puede contener letras y espacios.
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field class="example-full-width">
        <mat-label>Código ISO</mat-label>
        <input matInput formControlName="hcodigoIsoPais" required />
        <mat-error *ngIf="form.get('hcodigoIsoPais')?.hasError('required')">El codigoIso es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('hcodigoIsoPais')?.hasError('pattern')">
          El código ISO debe tener 3 letras mayúsculas.
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>Continente</mat-label>
        <mat-select formControlName="hcontinentePais" required>
          @for (food of listaContinente; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('hcontinentePais')?.hasError('required')">
          Debes seleccionar un continente.
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Capital</mat-label>
        <input matInput formControlName="hcapitalPais" required />
        <mat-error *ngIf="form.get('hcapitalPais')?.hasError('required')">
          La capital es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('hcapitalPais')?.hasError('minlength')">
          La capital debe tener al menos 3 caracteres.
        </mat-error>
        <mat-error *ngIf="form.get('hcapitalPais')?.hasError('pattern')">
          La capital solo puede contener letras y espacios.
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="hmonedaPais" required>
          @for (food of listaMoneda; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('hmonedaPais')?.hasError('required')">
          Debes seleccionar una moneda.
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Idioma Oficial</mat-label>
        <mat-select formControlName="hidiomaOficialPais" required>
          @for (food of listaIdioma; track food) {
          <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('hidiomaOficialPais')?.hasError('required')">
          Debes seleccionar un idioma oficial.
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Población</mat-label>
        <input matInput formControlName="hpoblacionPais" required />
        <mat-error *ngIf="form.get('hpoblacionPais')?.hasError('required')">
          La población es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('hpoblacionPais')?.hasError('pattern')">
          La población debe ser un valor numérico positivo.
        </mat-error>
      </mat-form-field>

      <br />
      <mat-form-field>
        <mat-label>Superficie</mat-label>
        <input matInput formControlName="hsuperficiePais" required />
        <mat-error *ngIf="form.get('hsuperficiePais')?.hasError('required')">
          La superficie es obligatorio.
        </mat-error>
        <mat-error *ngIf="form.get('hsuperficiePais')?.hasError('pattern')">
          La superficie debe ser un valor numérico positivo (puede tener decimales).
        </mat-error>
      </mat-form-field>
      <br />

      <br />

      <div style="text-align: center;">
        <button mat-flat-button color="warn">Registrar</button>
      </div>
      <div style="text-align: center;">
        <button class="secondaryButton" routerLink="/pais"> Cancelar </button>
      </div>
    </form>
  </div>
</div>