<div class="container" style="padding-top: 10px; padding-left: 10px; padding-right: 10px;">
    <div class="title-container">
        <h1 class="title" style="text-align: center;">Lista Ciudades</h1>
    </div>
    <table mat-table [dataSource]="datasource" class="mat-elevation-z8 full-width-table">
        <ng-container matColumnDef="idComentario">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.idComentario}}</td>
        </ng-container>

        <ng-container matColumnDef="textoComentario">
            <th mat-header-cell *matHeaderCellDef>Comentario</th>
            <td mat-cell *matCellDef="let element">{{ element.textoComentario }}</td>
        </ng-container>

        <ng-container matColumnDef="fechaComentario">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">{{ element.fechaComentario }}</td>
        </ng-container>

        <ng-container matColumnDef="idUsuario">
            <th mat-header-cell *matHeaderCellDef>Codigo Usuario</th>
            <td mat-cell *matCellDef="let element">{{ element.idUsuario?.idUsuario }}</td>
        </ng-container>

        <ng-container matColumnDef="NombreLugarTuristico">
            <th mat-header-cell *matHeaderCellDef>Nombre Lugar Turistico</th>
            <td mat-cell *matCellDef="let element">{{ element.idLugarTuristico?.nombreLugarTuristico }}</td>
        </ng-container>

        <ng-container matColumnDef="codigoNegocio">
            <th mat-header-cell *matHeaderCellDef>Codigo Negocio</th>
            <td mat-cell *matCellDef="let element">{{ element.idNegocio.idNegocio }}</td>
        </ng-container>

        <ng-container matColumnDef="nombreNegocio">
            <th mat-header-cell *matHeaderCellDef>Nombre Negocio</th>
            <td mat-cell *matCellDef="let element">{{ element.idNegocio?.nombreNegocio }}</td>
        </ng-container>

        <ng-container matColumnDef="accion1">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element" (click)="delete(element.idComentario)">
                <mat-icon style="color:#1100ff ;">delete</mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="accion2">
            <th mat-header-cell *matHeaderCellDef>Actualizar</th>
            <td mat-cell *matCellDef="let element" [routerLink]="['editar',element.idComentario]">
                <mat-icon style="color:#1100ff ;">edit</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10,25]" showFirstLastButtons></mat-paginator>
</div>
